%h1= @box.name

%ul
- @comments.each do |comment|
  %li= react_component('Comment', {author: comment.user.email, body: comment.body })

= link_to 'Delete', box_path, method: :delete
= link_to 'Home', root_path

